@page
@model Core2Walkthrough.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<p>Static 'About Page'.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fringilla erat quis odio vehicula ultrices. Mauris id lorem neque. Phasellus id accumsan metus. Aliquam erat volutpat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at justo vel ligula auctor elementum sit amet feugiat nibh. Duis euismod et nulla ac efficitur. Vivamus ac sapien aliquet, malesuada ligula euismod, dapibus leo. Maecenas non dictum augue, vitae convallis neque. Aliquam venenatis nisl quis tristique accumsan. In consectetur eleifend arcu feugiat vulputate. Suspendisse nec venenatis velit. Vivamus non justo leo. Nam purus neque, feugiat et feugiat ut, eleifend ac augue. Vivamus euismod non augue euismod volutpat. Ut eget neque nec velit sagittis tempus.</p>

<p>Quisque a erat et ipsum eleifend ornare. Aliquam sit amet egestas elit. Ut felis tortor, tristique id fringilla quis, sollicitudin hendrerit elit. Sed pretium condimentum porta. Suspendisse hendrerit maximus ante in porttitor. Cras turpis massa, volutpat ut orci non, condimentum eleifend nibh. Nam vestibulum lacus iaculis, convallis dui ac, laoreet nunc. Nunc tincidunt risus et vestibulum ultricies.</p>